doctype html(lang='en')

head
    title prismic.io help
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/stylesheets/help.css")

// TODO
//  - Better styling
body
  div.main

    h1 Welcome to your Node.js blank project!

    p
      What should I do next?

    ul
      li Define content types (article, case study, product) and write some content for your repository: #[a(href='https://your-repo-name.prismic.io/') https://your-repo-name.prismic.io/]
      li Try the #[a(href='https://prismic.io/quickstart') quickstart] tutorial
      li Read the #[a(href='http://prismic.io/docs') docs]
    p
      And if you need any help, don’t hesitate to shoot us an email at #[a(href='mailto:contact@prismic.io') contact@prismic.io]
