extends ./layout.pug

block body
  div#prismic-help

    header
      nav
        if isConfigured
          a(href=repoURL target="_blank")
            strong Go to my repository
        else
          div.empty
        a.doc(href="https://prismic.io/docs") Documentation
          img(src="images/open.svg" alt="")
      .wrapper
        img(src="images/rocket.svg" alt="")
        h1 High five yourself, You deserve it!
        p Grab a well deserve cup of coffee, just a two steps and you will have a page with dynamic content
      .hero-curve
      .flip-flap
        .flipper
          .guide
            ul
              li.done
                span 1
                |Bootstrap your project
              li.done
                span 2
                |Create a custom type
              li.done
                span 3
                |Create your first page!
              li.todo
                span 4
                |Query the API and fill the template
                img(src="images/arrow.svg" alt="")
              li.todo
                span 5
                |Well done!
                img(src="images/arrow.svg" alt="")
          .gif



    section
      h2 Just two more step and we can let you go

      h3
        span 1
        |Create your route for a homepage or everypage that you want

      p Query the API for your "get-started" page
        |Now that you've created your "get-started" page, go back to your local code. Let's make a call the API and retrieve our page |content. For that, we will use the specified UID.
        |Once we've retrieved the page, we render the template providing it with its content.

      .source-code
        pre
          code
            |/* In app.js, replace the block starting with "app.route(/)" with: */
            |app.route('/').get(function(req, res) {
            |        api.(req, res).then(function(api) {
            |                return api.getByUID('page','get-started');
            |        }).then(function(prismicdoc){
            |                res.render('index',{
            |                        pagecontent: prismicdoc
            |                });
            |        }).catch(function(err){
            |                handleError(err, req, res);
            |        });
            |});

      h3
        span 2
        |Create your first Page
      h4 Replace static content with corresponding page fields
      p Now all that's left to be done is replace the static non-managed content in the template with content we fetched from the API.
      .source-code
        pre
          code
            |/* In views/index.pug */
            |extends ./layout.pug
            |block body
            |        div.welcome
            |                img(src=pagecontent.getImage('page.image').url, class="star")
            |                !=pagecontent.getStructuredText('page.title').asHtml(ctx.linkResolver)
            |                !=pagecontent.getStructuredText('page.description').asHtml(ctx.linkResolver)
