extends ./layout.jade

block body
    div.welcome
        img(src='/images/star.png', class='star')
        h1 Welcome aboard!
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        a(href='') Sign-up for FREE
