html {
    font-size: 100%;
}

body {
    font-family: Lato, sans-serif;
    font-size: 18px;
    color: #516677;
    font-weight: 500;
}

.help h1 {
    font-weight: 700;
    font-size: 3.4rem;
    margin-bottom: 1.25rem;
}

.help {
    max-width: 1200px;
    padding: 50px;
    margin: auto;
}

.help h2 {
    font-size: 34px;
    margin: 20px 0;
    color: #5ACE83;
    font-weight: bold;
}

.help h3 {
    font-size: 20px;
    margin: 10px 0;
    color: #516677;
    font-weight: bold;
}

.help p {
    line-height: 28px;
}

.help ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.help ul li {
  padding-left: 1em;
  text-indent: -1em;
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.help ul li:before {
  content: "•";
  color: #5ACE83;
  margin-right: 1em;
  line-height: 0em;
  font-size: 1.5em;
}

.source-code {
  position: relative;
  width: 100%;
}
.source-code code {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  line-height: 1.4rem;
  margin: 40px 0;
}

.hljs {
  font-family: "Monaco", "Inconsolata", serif;
  display: block;
  overflow-x: auto;
  padding: 1.5em;
  background: #434C5F;
  font-size: 14px;
  line-height: 24px;
  color: #9593DA;
}

.hljs-comment,
.hljs-quote {
  color: #65737e;
}

/* Ocean Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #bf616a;
}

/* Ocean Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #d08770;
}

/* Ocean Yellow */
.hljs-attribute {
  color: #ebcb8b;
}

/* Ocean Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #a3be8c;
}

/* Ocean Blue */
.hljs-title,
.hljs-section {
  color: #8fa1b3;
}

/* Ocean Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #b48ead;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #2b303b;
  color: #c0c5ce;
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
