.source-code {
  position: relative;
  width: 100%;
}
.source-code code {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  line-height: 1.4rem;
  margin: 40px 0;
}

.hljs {
  font-family: "Monaco", "Inconsolata", serif;
  display: block;
  overflow-x: auto;
  padding: 1.5em;
  background: #434C5F;
  font-size: 14px;
  line-height: 24px;
  color: #9593DA;
}
.hljs-comment,
.hljs-quote {
  color: #93a1a1;
}
/* Solarized Green */
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-addition {
  color: #FFFFFF;
}
/* Solarized Cyan */
.hljs-number,
.hljs-string,
.hljs-doctag,
.hljs-regexp {
  color: #9593DA;
}
/* Solarized Blue */
.hljs-title,
.hljs-section,
.hljs-built_in,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #268bd2;
}
/* Solarized Yellow */
.hljs-attribute,
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-class .hljs-title,
.hljs-type {
  color: #C2AA5F;
}
/* Solarized Orange */
.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-link {
  color: #cb4b16;
}
/* Solarized Red */
.hljs-deletion {
  color: #dc322f;
}
.hljs-formula {
  background: #eee8d5;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
