html {
    font-size: 100%;
}

body {
    background: url(/images/bg.jpg);
    color: #FFF;
    font-family: Lato, sans-serif;
    font-size: 1em;
}

a {
    color: #FDBD58;
}

h1 {
    font-weight: 700;
    font-size: 3.4rem;
    margin-bottom: 1.25rem;
}

.welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    text-align: center;
    width: 35.625rem;
    margin: auto;
    font-size: 1.25rem;
}

.welcome .star {
    width: 14.875rem;
    margin-bottom: 2rem;
}

.welcome p, .welcome a {
    line-height: 2rem;
}
