html {
    font-size: 100%;
}

body {
    font-family: Lato, sans-serif;
    font-size: 1em;
}

h1 {
    font-weight: 700;
    font-size: 3.4rem;
    margin-bottom: 1.25rem;
}

.centered {
    max-width: 1200px;
    padding: 50px;
    margin: auto;
}

h2 {
    font-size: 34px;
    margin: 20px 0;
    color: #5ACE83;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    margin: 10px 0;
    color: #516677;
    font-weight: bold;
}

p {
    font-size: 18px;
    color: #516677;
    line-height: 28px;
}
